* {
  box-sizing: border-box;
}

body {
  background-color: #E14647;
  margin: 0;
}

.App {
  background-color: white;
  width: 80%;
  margin: 80px auto;
  padding: 30px;
}

h2 {
  background-color: #E14647;
  color: white;
  font-size: 35px;
  padding: 20px;
  margin: 20px 0;
}

ul {
  list-style: none;
}

li span {
  width: 60%;
  font-size: 25px;
  display: inline-block;
  margin-bottom: 15px;
}

li button {
  padding: 5px 0;
  color: white;
  font-size: 20px;
}

li button:first-of-type {
  background-color: gray;
  width: 19%;
  margin-right: 1%;
}

li button:last-of-type {
  width: 20%;
  background-color: #E14647;
}

form {
  margin-bottom: 10px;
}

form input {
  width: 79%;
  margin-right: 1%;
  background-color: #EEE;
  padding: 8px 0;
}

form button {
  width: 20%;
  background-color: limegreen;
  color: white;
  font-size: 20px;
  padding: 5px 0;
}